.main-line {
    width: 3vw;
    border: none;
    border-top: 2px solid #96765a;
    margin-bottom: 2vh;
}

.seccion-title {
    margin-bottom: 2vh;
}

.main-text {
    font-size: 1.2vw;
    font-weight: 400;
}

.subtitle-main {
    display: flex;
    margin-left: 0.3vw;
    gap: 0.6vw;
    height: fit-content;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.webdev-title {
    font-size: 1.2vw;
    font-style: italic;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 1vh;
}

.about-webdev-container {
    background-color: #272626;
    border-radius: 1.5vw;
    padding: 1.8vw;
    transition: all 300ms;
}

.about-webdev-container:hover {
    opacity: 1;
    transform: scale(1.03);
    background-color: #383634;
}
