:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d1c1c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#root {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1080px) {
  #all-app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .side-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 22vh;
    width: 80vw;
  }
  .contact-container{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    justify-items: center;
    gap: 2vw;
    height: 10vh;
  }
  .contact-boxes{
    gap: 0.5vw;
    margin-top: 1vh;
    height: 2.5vh;
  }
  #side-info-line{
    margin-left: 0;
  }
  .general-container{
    height: 50vh;
    width: 80vw;
  }
}