.experience-card {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    background-color: #272626;
    border-radius: 1.25rem;
    padding: 1vw;
    margin-bottom: 2vh;
    transition: all 300ms;
}

.skills-developed{
    font-style: italic;
    font-size: 1.1vw;
    font-weight: 600;
}

.dates{
    color: #575452;
    font-size: 0.8vw;
}

.experience-card:hover {
    opacity: 1;
    transform: scale(1.03);
    background-color: #383634;
}

.skills-list li{
    font-size: 1vw;
    text-align: center;
    list-style: "✔";
    list-style-position: inside;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 0.3vh;
}